.customer-page-section >* {
    /* margin: 0 6rem 2rem 6rem; */
    
}

#santa-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#santa-cards *> {
    flex-basis: 20%;
}

/* Kopioin kortin säännöt id-saannöksi */
#card {
    background-color: brown;
    padding: 1rem;
    width: 15rem;
    margin: 1.5rem;
    border: solid white 1rem;
    border-radius: 1rem;
    box-shadow: 4px 8px 0 rgba(100, 90, 90, 0.2), 0 6px 20px 0 rgba(100, 90, 90, 0.2);
}

/* Lisään myöhemmin toiminnallisuuden kuvan lisäämisen profiilisivun kautta */
#card-figure {
    /* background-image: url("https://source.unsplash.com/80x60/?santa-claus"); */
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 8rem;
    min-height: 8rem;
    margin-bottom: 1.5rem;
}

#card-figure img {
    width: 100%;
}

/* @media only screen and (max-width: 426px) {
    .customer-page-section {
        margin: 1rem;
    }

    .customer-h1 {
        line-height: 4rem;
    }

    .customer-form {
        margin-left: 0rem;
    }

    .ei-sisennys {
        margin-left: 0rem;
    }

} */