/* Esimerkki yleisistä säännöistä, mitä noudatetaan sivustolla */
/* css variable, yleiset värit - muuttaminen vaikuttaa kaikkiin, missä käytössä */
:root {
    --main-font-color: bisque;
    --nav-footer-color: brown;
}

html {
    font-size: 62.5%;
}

body, a {
    color: var(--main-font-color);
}


h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

p, a, li {
    font-size: 1.8rem;
}

section {
    line-height: 2.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {}

figure h1 {
    font-size: 5rem;
    color: whitesmoke;
    position: absolute;
    top: 29%;
    left: 2rem;
}

/* nav {
    background-color: var(--nav-footer-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
 */
/* nav ul {
    display: flex;
    justify-content: space-evenly;
}
 */
nav li {
    margin: 1rem;
}

.main-image {
    background-image: url("../images/header-photo.png");
    /* width: 100%;
    height: auto; */
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 76% 50%;
}

main {
    /* background-color: rgb(11, 11, 75); */
    padding: 2rem;
    min-height: 20rem;
    background: linear-gradient(#453986, #050a42);
}

footer {
    background-color: var(--nav-footer-color);
    min-height: 5rem;
    padding: 2rem;
    text-align: center;
}

.some {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.some > * {
    padding: 0.5rem;
    font-size: 4rem;
    color: white;
}

  /* Style the navigation menu, kaikki muut paitsi mobiilinäkymä */
  .topnav {
    overflow: hidden;
    background-color: var(--nav-footer-color);   
    position: relative;
    padding: 14px;
    display: block;

  }
  .topnav #myLinks {
    display: contents;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
    /* Style the hamburger menu */
    .topnav a.icon {
        display: none;
      }



        /* TABLETTI ********************************************************** */

@media only screen and (max-width: 769px) {
    .main-image {
        background-position: 75% 23%;
    }
    nav {
        margin-top: -5rem;
    }
    figure h1 {
        position: relative;
        top: 30%;
        left: 3%;
    }
    nav {
    background-color: var(--nav-footer-color);
    display: block;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
    /* nav ul {
    display: flex;
    justify-content: space-evenly;
} */
}



        /* DESKTOP ********************************************************** */

@media only screen and (min-width: 770px) {
    .main-image {
        background-position: 75% 23%;
    }
    figure h1 {
        position: relative;
        top: 38%;
        left: 2%;
    }
}



        /* ISO NÄYTTÖ ********************************************************** */

@media only screen and (min-width: 1440px) {
    figure h1 {
        position: relative;
        top: 25%;
        left: 2%;
        font-size: 6rem;
    }
}



        /* MOBIILI ********************************************************** */

@media only screen and (max-width: 426px) {
    nav {
        margin-top: -12rem;
    }
    figure h1 {
        font-size: 2.5rem;
        top: 23%;
        left: 4%;
    }

/* Alla Mikan Hessburger-lisäykset */
  /* Style the navigation menu */
  .topnav {
    overflow: hidden;
    background-color: var(--nav-footer-color);
/*     background-color: #333;
 */    
    position: relative;
    padding: 0;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
/*   .active {
    background-color: #04AA6D;
    color: white;
  }
 */
}