/* Esimerkki yleisistä säännöistä, mitä noudatetaan sivustolla */
/* css variable, yleiset värit - muuttaminen vaikuttaa kaikkiin, missä käytössä */
:root {
    --main-font-color: rgb(245, 214, 176);
    --main-nav-and-footer-color: rgb(180, 40, 40);

}

html {
    font-size: 62.5%;
}

body, a {
    color: var(--main-font-color);

}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

p, a, li, label {
    font-size: 1.8rem;
}

section {
    line-height: 2.5rem;
}

a {
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

nav a:hover {
    /* text-decoration: underline; */
    background-color: rgb(100, 30, 30);
}

header {
    width: 100%;
}

figure h1 {
    font-size: 5rem;
    color: whitesmoke;
    position: relative;
    top: 29%;
    left: 2rem;
}

nav {
    background: linear-gradient(356deg, rgb(51 7 7), rgb(166 24 24), #d69090);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    margin: 1rem;
}

.main-image {
    background-image: url("../images/header-photo.png");
    width: 100%;
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

main {
    /* background-color: rgb(11, 11, 75); */
    /* padding: 5rem 2rem 7rem 2rem; */
    width: 100%;
    min-height: 40rem;
    background: linear-gradient(#453986, #050a42);

}

footer {
    background: linear-gradient(rgb(53 5 9), var(--main-nav-and-footer-color), #903417);
    /* min-height: 5rem; */
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.some {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.some>* {
    padding: 0.5rem;
    font-size: 4rem;
    color: white;
}

.underline {
    text-decoration: underline;
}

input {
    margin-left: 1rem;
}

/* Tablettinäkymä */
/* @media only screen and (max-width: 769px) {
    .main-image {
        background-position: 75% 23%;
    }

    nav {
        margin-top: -5rem;
    }

    figure h1 {
        position: absolute;
        top: 30%;
        left: 3%;
    }
} */

/* Desktop näkymä */
/* @media only screen and (min-width: 770px) {
    .main-image {
        background-position: 75% 23%;
    }

    /* figure h1 {
        position: absolute;
        top: 38%;
        left: 2%;
    }
} */
    

/* Iso laptop-näkymä */
/* @media only screen and (min-width: 1440px) {
    figure h1 {
        position: relative;
        top: 20rem;
        left: 2%;
        font-size: 6rem;
    }
} */

/* Mobiilinäkymä */
/* @media only screen and (max-width: 426px) {
    nav {
        margin-top: -12rem;
    }

    figure h1 {
        font-size: 2.5rem;
        top: 23%;
        left: 4%;
    }

    .ei-sisennys {
        margin-left: 0rem;
    }




} */