/* Esimerkki yleisistä säännöistä, mitä noudatetaan sivustolla */
/* css variable, yleiset värit - muuttaminen vaikuttaa kaikkiin, missä käytössä */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

:root {
    --main-font-color: rgb(245, 214, 176);
    --main-nav-and-footer-color: rgb(180, 40, 40);

}

html {
    font-size: 62.5%;
}

body, a {
    color: var(--main-font-color);

}

h1 {
    font-size: 4.2rem;
    font-family: 'Lobster Two', cursive;
}

h2 {
    font-size: 3.2rem;
    font-family: 'Lobster Two', cursive;
    padding-bottom: 1rem;
}

h3 {
    font-size: 2.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

p, a, li, label {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 2rem;
    line-height: 4rem;
}

a {
    padding: 1rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

nav a:hover {
    /* text-decoration: underline; */
    background-color: rgb(100, 30, 30);
}

header {
    /* width: 100%; */
}

figure h1 {
    font-size: 5rem;
    color: whitesmoke;
    position: relative;
    top: 40%;
    left: 2rem;
    width: 80%;
}

.main-image {
    background-image: url("../images/header-photo.png");
    width: 100%;
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
}

nav {
    background: linear-gradient(356deg, rgb(51 7 7), rgb(166 24 24), #d69090);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
    /* flex-wrap: wrap; */
    padding: 2rem;

}

/* nav>* {
    flex-basis: 100%;
} */

nav ul {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

nav ul>* {
    /* flex-basis: 100%; */
}

nav ul li {
    margin: 1rem;
    /* padding: 1rem; */
}

.secured-info {
    margin-top: 1.8rem;
}

/* Form for login and registration */
.register-login-form {
    font-size: 1.8rem;
    line-height: 3rem;
}

.register-login-form-btn {
    background-color: rgb(129, 67, 22);
    color: bisque;
    border: 0.3rem solid rgb(129, 67, 22);
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem grey;
}

.register-login-form-btn:hover {
    border: 0.3rem solid rgb(189, 127, 83);
}

.main-content {
    /* background-color: rgb(11, 11, 75); */
    /* width: 100%; */
    /* min-height: 40rem; */
    background: linear-gradient(#453986, #050a42);

}

footer {
    background: linear-gradient(rgb(53 5 9), var(--main-nav-and-footer-color), #903417);
    text-align: center;
    padding: 2rem;

}

.some {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.some>* {
    padding: 0.5rem;
    color: white;
    font-size: 4rem;
}

.table-line {
    border-top: solid 1px var(--main-font-color);
    border-bottom: solid 20px rgba(0, 0, 0, 0);
}

/* Style the navigation menu, kaikki muut paitsi mobiilinäkymä */

/* Burger menu:  */
/* Style the navigation menu, kaikki muut paitsi mobiilinäkymä */
.topNav {
    overflow: hidden;
    background-color: var(--nav-footer-color);
    position: relative;

}

.topNav #navLinks {
    display: none;
}

/* Alert messages */
.error-message {
    color: red;
}

.alert {
    border: 0.2rem solid rgb(121, 53, 53);
    border-radius: 0.2rem;
    /* width: 100%; */
    margin: 2rem;
}

.alert-success {
    background-color: rgba(84, 132, 33, 0.8);
}

.alert-error {
    text-align: center;
    padding: 2rem;
    background-color: rgba(211, 27, 27, 0.5);
}

.btn-close {
    background-color: inherit;
    font-size: 1.8rem;
}

.alert-info {
    text-align: center;
    padding: 2rem;
    background-color: rgb(143, 143, 44);
}

/* Tabletti - ipad */
@media only screen and (min-width: 768px) {
    .topNav #navLinks {
        display: flex;

    }

    .topNav a.icon {
        display: none;

    }

    nav {
        flex-direction: row;
    }

    nav ul {
        flex-direction: row;
    }

    main {
        min-height: 55rem;
    }
}

/* Tabletti ipad pro ja isommat */
@media only screen and (min-width: 1024px) {
    main {
        min-height: 90rem;
    }
}