@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');


.index-main {
    text-align: center;

}

.otsikko {
    font-family: 'Ceviche One', cursive;
    font-size: 9rem;
    margin-bottom: 2rem;
}

.content {
    margin: 0 2rem 2rem 2rem;
}

@media only screen and (max-width: 769px) {
    .otsikko {
      font-size: 7rem;
    }

    .content {
        margin: 0 2rem 2rem 2rem;
    }
  } 

@media only screen and (max-width: 426px) {
    .otsikko {
      font-size: 5rem;
    }

    .content {
        margin: 0 2rem 2rem 2rem;
    }
  }

