@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Kalam&display=swap');


.otsikko {
  /* font-family: 'Ceviche One', cursive; */
  font-size: 5rem;
  margin-left: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.content {
  text-align: center;
}

.runo {
  font-style: italic;
  font-size: 3rem;
  font-family: 'Kalam', cursive;
}
