.santa-profile-header {
    text-align: center;
    /* background-color: rgb(57 9 9 / 80%); */
}


#santa-main-image {
    background-image: url("../images/santa-reading.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.8; */

}


.santa-profile-main {
    width: 100%;
    min-height: 55rem;
}

.update-profile {
    /* margin-left: 2rem; */
}

.update-profile label {
    font-size: 2rem;
}


.basicInfo {
    margin: 2rem;
    background-color: rgba(92, 18, 18, 0.8);
    line-height: 3rem;
    padding: 2rem;
    width: 40rem;
}

.santa-profile-info {
    margin: 2rem;
    background-color: rgba(92, 18, 18, 0.8);
    line-height: 3rem;
    padding: 2rem;
    width: 40rem;
}

.santaProfile-img {
    width: 100%;
}

.santa-profile-h2 {
    padding-bottom: 1rem;
}

.santa-button {
    background-color: rgb(7, 109, 7);
    color: bisque;
    border: 0.3rem solid rgb(5, 90, 5);
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.5rem grey;
    padding: 0.5rem;
}

.santa-button:hover {
    background-color: rgb(21, 75, 21);
    border: 0.3rem solid rgb(20, 65, 20);
    ;
}

@media only screen and (min-width: 768px) {
    .santa-profile-main {
        min-height: 80rem;
    }
}

@media only screen and (min-width: 1024px) {
    .santa-profile-main {
        min-height: 120rem;
    }
}