
#santa-main {
    background-image: url("../images/santa-reading.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

p {
    margin-left: 2rem;
}

.update-profile {
    margin-left: 2rem;
}

.update-profile label {
    font-size: 2rem;
}