<nav th:fragment="main-nav-fragment">

    <ul>
        <li><a th:href="@{/}">Etusivulle</a></li>
        <li><a th:href="@{/customer}">Perheille</a></li>
        <li><a th:href="@{/santa}">Joulupukeille</a></li>
        <li><a th:href="@{/login-page}">Kirjaudu palveluun</a></li>
    </ul>
    <ul sec:authorize="isAuthenticated()">
        <li sec:authorize="hasRole('SANTA')">Logged in as:
            <a th:text="${#authentication.getPrincipal().getUsername()}" th:href="@{/santa-profile}"></a>
        </li>
        <li sec:authorize="hasRole('CUSTOMER')">Logged in as:
            <a th:text="${#authentication.getPrincipal().getUsername()}" th:href="@{/customer-profile}"></a>
        </li>
        <li>
            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <input type="submit" value="logout">
            </form>
        </li>
    </ul>

</nav>