<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head_fragment('Perheille')">
</head>

<body onload="loadSantas('santas/available')" class="main-content">

    <header th:replace="fragments/header :: header-fragment">
    </header>
    <main >
        <section class="customer-page-main">
            <h1 class="customer-h1"><span>&#127876;</span>Tilaa Joulupukki aatoksi!<span>&#127876;</span></h1>
            <p class="ei-sisennys">Sivuiltamme voit varata joulupukin suoraan kotiisi haluamanasi ajankohtana. Pääset
                selailemaan palvelustamme löytyviä joulupukkeja alta.</p>
        </section>
        <section class="customer-page-main">
            <h2>Uusille käyttäjille</h2>
            <p class="ei-sisennys">Etkö ole aikaisemmin tilannut pukkia kauttamme?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis minus ut ullam eveniet. Beatae, alias iste sequi praesentium consectetur corporis adipisci! Ipsum odio repellat repellendus reiciendis beatae fugit rerum molestiae.</p>
        </section>
        <!-- Display error when registering -->
        <div th:if="${usernameError}" class="alert alert-error"><span>
                <p th:text="${usernameError}"></p>
            </span>
            <button type="button" class="btn-close" onclick="closeElement()">X</button>
        </div>
        <section class="customer-page-form">
            <p></p>
            <div th:replace="fragments/forms :: register-account(heading='Rekisteröidy perheeksi', type='customer')">
            </div>
        </section>
        <section class="cards">

        </section>
        <!-- Tähän haetaan kannasta, js hoitaa elementin muodostamisen -->
        <section id="santa-cards">

        </section>
    </main>
    <footer th:replace="fragments/footer :: footer-fragment">
    </footer>

</body>

</html>