<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head_fragment('Perheille')">
</head>

<body>
    <header th:replace="fragments/header :: header-fragment">
    </header>
    <main>
        <section class="customer-page-section">
            <h1>Main heading (Testi)</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum obcaecati blanditiis, quisquam tenetur
                accusantium inventore eveniet nisi, aliquid ea voluptatibus quos debitis magni et assumenda. Deleniti
                odit unde voluptate adipisci?</p>
        </section>
        <section class="customer-page-section">
            <h2>Uusille käyttäjille</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis vitae, blanditiis sit quisquam aut animi
                quos ipsam odio asperiores veniam natus alias, numquam perferendis unde atque debitis facere qui ipsum.
            </p>
            <p>Rekisteröidy asiakkaaksi <span><a th:href="@{customer-register}">täällä</a></span></p>
        </section>
        <section class="customer-page-section">
            <div th:replace="fragments/forms :: login-fragment('Kirjaudu asiakastilille')"></div>
        </section>
    </main>
    <footer th:replace="fragments/footer :: footer-fragment">
    </footer>
</body>

</html>