<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head_fragment('Perheille')">
</head>

<body onload="loadSantas('santas/available')">

    <header th:replace="fragments/header :: header-fragment">
    </header>
    <main>
        <!-- tämä on testi:
        <ul th:each="test : ${testi}">
            <li th:text="${test.users.id}"></li>
        </ul> -->
        <section class="customer-page-section">
            <h1 class="customer-h1">Tilaa Joulupukki aatoksi!</h1>
            <p>Sivuiltamme voit varata joulupukin suoraan kotiisi haluamanasi ajankohtana. Pääset selailemaan
                palvelustamme löytyviä joulupukkeja <a href="">alta</a>.</p>
        </section>
        <section class="customer-page-section">
            <h2>Uusille käyttäjille</h2>
            <p>Etkö ole aikaisemmin tilannut pukkia kauttamme? Aloita rekisteröitymällä
                asiakkaaksemme <span class="underline"><a th:href="@{customer-register}">TÄÄLLÄ</a></span>!</p>
        </section>
        <section class="customer-page-section">
            <!-- <p></p>
            <div th:replace="fragments/forms :: customer-login-fragment('Kirjaudu asiakastilille')"></div> -->
            <div th:replace="fragments/forms :: register-customer('Rekisteröidy perheeksi')"></div>
        </section>
        <!-- Tähän oli asetettu inlinena tyyliksi 100%(poistettu), antaa css tiedoston hoitaa tyylittely -->
        <section class="cards">

        </section>
        <!-- Tähän haetaan kannasta, js hoitaa elementin muodostamisen -->
        <section id="santa-cards">

        </section>
    </main>
    <footer th:replace="fragments/footer :: footer-fragment">
    </footer>

</body>

</html>