<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head_fragment('Pukeille')">
</head>

<body class="main-content">
    <header th:replace="fragments/header :: header-fragment">
    </header>
    <main >
        <section class="login-page-main">
            <h1><span>&#10052;</span>Kirjaudu palveluun<span>&#10052;</span></h1>
            <p>Jos olet jo rekisteröitynyt käyttäjäksemme aikaisemmin, voit kirjautua sisään profiilisivullesi tästä</p>
        </section>
        <section class="login-page-main">
            <!-- alert: -->
            <div th:if="${accountDeleted}" class="alert alert-info"><span>
                <p th:text="${accountDeleted}"></p>
            </span>
            <button type="button" class="btn-close" onclick="closeElement()">X</button>
        </div>
            <div th:if="${logoutInfo}" class="alert alert-info"><span>
                    <p th:text="${logoutInfo}"></p>
                </span>
                <button type="button" class="btn-close" onclick="closeElement()">X</button>
            </div>
            <div th:if="${registerSuccess}" class="alert alert-info"><span>
                    <p th:text="${registerSuccess}"></p>
                </span>
                <button type="button" class="btn-close" onclick="closeElement()">X</button>
            </div>
            <div th:if="${param.error}" class="alert alert-error">
                <p>Väärä tunnus tai salasana</p>
                <button type="button" class="btn-close" onclick="closeElement()">X</button>
            </div>  
        </section>
        <section class="login-page-form">
            <div th:replace="fragments/forms :: custom-login-fragment(heading='Syötä tunnus ja salasana')"></div>
        </section>
    </main>
    <footer th:replace="fragments/footer :: footer-fragment">
    </footer>
</body>

</html>