<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head_fragment('Etusivu')">
</head>

<body class="main-content">
	<header th:replace="fragments/header :: header-fragment">
    </header>
	<main>
		<h1 class="otsikko">Ho Ho Ho! Joulupukki hukassa?</h1>
		<section class="content">
			<p>Tervetuloa Santa Serviseen! Täältä voit varata jouluksi itsellesi Joulupukin kotiisi helposti. Voit
				rekisteröityä sivuillamme joko Joulupukkia etsiväksi perheeksi tai tehdä itsellesi Joulupukki-profiilin,
				joilloin voit vastaanottaa Joulupukkikeikkoja haluaminasi aikoina.</p>
			<p class="runo">"-Tuleeko Joulupukki?</p>
			<p class="runo">-Tulee, totta kai!</p>
			<p class="runo">-Saiko hän toivekirjeen?</p>
			<p class="runo">-Ihan varmasti sai!</p>
			<p class="runo">-Entä - jos lahjat loppuu?</p>
			<p class="runo">-Epäilet - vielä vai!</p>
			<p class="runo">-Mahtaako mulle riittää?</p>
			<p class="runo">-Sinulle - - - totta kai!"</p>
		</section>
	</main>
	<footer th:replace="fragments/footer :: footer-fragment">
	</footer>
</body>

</html>

