<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head_fragment('Etusivu')">
</head>

<body>
    <header th:replace="fragments/header :: header-fragment">
    </header>
    <main class="index-main">
        <h1 class="otsikko">Ho Ho Ho! Joulupukki hukassa?</h1>
        <section class="content">
            <p>Tervetuloa Santa Serviseen! Täältä voit varata jouluksi itsellesi Joulupukin kotiisi helposti. Voit rekisteröityä sivuillamme joko Joulupukkia etsiväksi perheeksi tai tehdä itsellesi Joulupukki-profiilin, joilloin voit vastaanottaa Joulupukkikeikkoja haluaminasi aikoina.</p>
        </section>
    </main>
    <footer th:replace="fragments/footer :: footer-fragment">
    </footer>

</body>

</html>