<!DOCTYPE html>
<html lang="en">


<head th:replace="fragments/head :: head_fragment('santa-profile')">
</head>

<body sec:authorize="hasAuthority('ROLE_SANTA')" id="santa-main">
	<nav th:replace="fragments/navigation :: main-nav-fragment"></nav>
	<main class="testi">
		<section>
			<h1 th:text="${basicInfo.username}"></h1>
		</section>
		<section class="tab">
			<button class="tabLinks" onclick="openTab(event, 'tab-basic-info')">
				<p>Basic info</p>
			</button>
			<button class="tabLinks" onclick="openTab(event, 'tab-santa-info')">
				<p>Profile info</p>
			</button>
			<button class="tabLinks" onclick="openTab(event, 'tab-jobs-info')">
				<p>Available jobs</p>
			</button>
		</section>
		<!-- Content for tab: -->
		<section>
			<article id="tab-basic-info" class="tabContent">
				<div class="basicInfo">
					<h1>Basic info</h1>
					<h3>Username: <span th:text="${basicInfo.username}"></span></h3>
					<h3>First name: <span th:text="${basicInfo.firstName}"></span></h3>
					<h3>Last name: <span th:text="${basicInfo.lastName}"></span></h3>
					<h3>Email: <span th:text="${basicInfo.email}"></span></h3>
					<h3>Phonenumber: <span th:text="${basicInfo.phoneNumber}"></span></h3>
					<h3>Postalcode: <span th:text="${basicInfo.postalCode}"></span></h3>
				</div>
				
				<div class="basicInfo">
					<form action="#">
						<table>
							<thead>
								<tr>
									<th>
										<h1>Update info</h1>
									</th>
								</tr>	
							</thead>
							<tbody>
								<tr>
									<td><label for="username">Username: </label></td>
									<td><input type="text" name="username" id=""></td>
								</tr>
								<tr>
									<td><label for="firstName">Firstname</label></td>
									<td><input type="text" name="firstName"></td>
								</tr>
							</tbody>
							<tfoot></tfoot>
						</table>
					</form>
				</div>
			</article>
			<article id="tab-santa-info" class="tabContent">
				<h1>Santa profile info</h1>
			</article>
			<article id="tab-jobs-info" class="tabContent">
				<h1>Available jobs</h1>
			</article>
		</section>
			
		
	</main>
	<footer th:replace="fragments/footer :: footer-fragment">
	</footer>
</body>

</html>