<!DOCTYPE html>
<html lang="en">
    <head th:replace="fragments/head :: head_fragment('Pukeille')">
    </head>
<body>
    <header th:replace="fragments/header :: header-fragment">
    </header>
    <main>
        <section>
            <h1>Main heading</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit tempore sapiente at repudiandae voluptatum dolores provident facere dicta aperiam voluptatem quam ipsum animi beatae soluta, natus reprehenderit hic sunt nostrum.</p>
        </section>
        <section>
            <h2>Uusille joulupukeille</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquid velit totam amet, quam possimus praesentium assumenda incidunt, repudiandae ex tempore. Molestiae et possimus dolor quos laborum, dolorum accusantium libero.</p>
        </section>
        <section>
            <div th:replace="fragments/forms :: login-fragment('Kirjaudu pukkisivustolle')"></div>
        </section>
    </main>
    <footer th:replace="fragments/footer :: footer-fragment">
    </footer>
</body>
</html>