<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head :: head_fragment('Pukeille')">
</head>

<body class="main-content">
    <header th:replace="fragments/header :: header-fragment">
    </header>
    <main >
        <section class="santa-page-main">
            <h1><span>&#127877;</span>Aatto joulupukkina?<span>&#127877;</span></h1>
            <p class="ei-sisennys">Jouluaatto lähestyy! Haluatko jakaa jouluiloa muillekin kuin omalle perheellesi?
                Palvelumme kautta voit ilmoittautua joulupukiksi aattopäivälle. </p>
        </section>
        <section class="santa-page-main">
            <h2>Uusille joulupukeille</h2>
            <p class="ei-sisennys">Etkö ole aikaisemmin käyttänyt sivujamme? Rekisteröidy ensin palveluumme ja kirjoita
                kuvaus itsestäsi. Voit lisätä järjestelmäämme alueen jolla toimit joulupukkina ja ajankohdan, milloin
                olet käytettävissä. Lisää myös kuva itsestäsi joulupukkina!</p>
        </section>
        <div th:if="${usernameError}" class="alert alert-error"><span>
                <p th:text="${usernameError}"></p>
            </span>
            <button type="button" class="btn-close" onclick="closeElement()">X</button>
        </div>
        <section class="santa-page-form">
            <div th:replace="fragments/forms :: register-account(heading='Rekisteröidy Joulupukiksi', type='santa')"></div>
        </section>
    </main>
    <footer th:replace="fragments/footer :: footer-fragment">
    </footer>
</body>

</html>