<!DOCTYPE html>
<html lang="en">


<head th:replace="fragments/head :: head_fragment('santa-profile')">
</head>

<body sec:authorize="hasAuthority('ROLE_SANTA')" >
	<nav th:replace="fragments/navigation :: main-nav-fragment"></nav>
	<main class="santa-profile-main" id="santa-main-image">
		<section class="santa-profile-header">
			<h1 th:text="${basicInfo.username}"></h1>
			<p>Tällä sivulla voit hallinnoida Joulupukki-tilisi asetuksia</p>
			<!-- On success! -->
			<div th:if="${basicInfoUpdated}" class="alert alert-success"><span>
					<p th:text="${basicInfoUpdated}"></p>
				</span>
				<button type="button" class="btn-close" onclick="closeElement()">X</button>
			</div>
			<div th:if="${basicInfoNotUpdated}" class="alert alert-error"><span>
					<p th:text="${basicInfoNotUpdated}"></p>
				</span>
				<button type="button" class="btn-close" onclick="closeElement()">X</button>
			</div>
		</section>
		<!-- Tab -->
		<section class="tab">
			<button class="tabLinks" onclick="openTab(event, 'tab-basic-info')">
				<p>Perustiedot</p>
			</button>
			<button class="tabLinks" onclick="openTab(event, 'tab-santa-info')">
				<p>Profiilitiedot</p>
			</button>
			<button class="tabLinks" onclick="openTab(event, 'tab-jobs-info')">
				<p>Työtarjoukset</p>
			</button>
		</section>
		<!-- Content for tab: -->
		<section>
			<!-- Output for basic info -->
			<article id="tab-basic-info" class="tabContent">
				<div class="basicInfo">
					<h2 class="santa-profile-h2">Perustiedot</h2>
					<h3>Käyttäjätunnus: <span th:text="${basicInfo.username}"></span></h3>
					<h3>Etunimi: <span th:text="${basicInfo.firstName}"></span></h3>
					<h3>Sukunimi: <span th:text="${basicInfo.lastName}"></span></h3>
					<h3>Sähköposti: <span th:text="${basicInfo.email}"></span></h3>
					<h3>Puhelinnumero: <span th:text="${basicInfo.phoneNumber}"></span></h3>
					<h3>Postinumero: <span th:text="${basicInfo.postalCode}"></span></h3>
				</div>

				<div class="basicInfo">
					<!-- Form for update basic account info -->
					<form th:action="@{/update/account-basic}" method="post">
						<table>
							<thead>
								<tr>
									<th>
										<h2 class="santa-profile-h2">Päivitä tietoja</h2>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><label for="firstName">Etunimi: </label></td>
									<td><input type="text" th:name="firstName" th:value="${basicInfo.firstName}">
									</td>
								</tr>
								<tr>
									<td><label for="lastName">Sukunimi: </label></td>
									<td><input type="text" th:name="lastName" th:value="${basicInfo.lastName}"></td>
								</tr>
								<tr>
									<td><label for="email">Sähköposti: </label></td>
									<td><input type="text" th:name="email" th:value="${basicInfo.email}"></td>
								</tr>
								<tr>
									<td><label for="phonenumber">Puhelinnumero: </label></td>
									<td><input type="text" th:name="phonenumber" th:value="${basicInfo.phoneNumber}">
									</td>
								</tr>
								<tr>
									<td><label for="postalCode">Postinumero: </label></td>
									<td><input type="text" th:name="postalCode" th:value="${basicInfo.postalCode}">
									</td>
								</tr>
								<tr>
									<th>
										<hr>
									</th>
								</tr>
								<tr>
									<td><label for="password">Syötä salasana: </label></td>
									<td><input type="password" th:name="password"></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td><input class="santa-button" type="submit" value="Päivitä"></td>
								</tr>
							</tfoot>
						</table>
					</form>
				</div>
				<div class="basicInfo">
					<form th:action="@{/update/account-username}" method="post">
						<table>
							<thead>
								<tr>
									<th>
										<h2 class="santa-profile-h2">Vaihda käyttäjätunnus</h2>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><label for="username">Käyttäjätunnus: </label></td>
									<td><input type="text" th:name="username" th:value="${basicInfo.username}"></td>
								</tr>
								<tr>
									<th>
										<hr>
									</th>
								</tr>
								<tr>
									<td><label for="password">Syötä salasana: </label></td>
									<td><input type="password" th:name="password"></td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td><input class="santa-button" type="submit" value="Tallenna"></td>
								</tr>
							</tfoot>
						</table>
					</form>
				</div>
				<div class="basicInfo">
					<form th:action="@{/delete-user}" method="post">
						<table>
							<thead>
								<tr>
									<th>
										<h2 class="santa-profile-h2">Poista Joulupukki-tili</h2>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<p>Varoitus!</p>
									</td>
								</tr>
								<tr>
									<td><label for="password">Syötä salasana: </label></td>
									<td><input type="password" th:name="password"></td>
								</tr>
							</tbody>
							<tfoot>
								<tfoot>
									<tr>
										<td><input class="santa-button" type="submit" value="Poista tili"></td>
									</tr>
								</tfoot>
							</tfoot>
						</table>
					</form>
				</div>
			</article>
			<article id="tab-santa-info" class="tabContent">
				<div class="santa-profile-info">
					<h2 class="santa-profile-h2">Joulupukki-profiilin tiedot</h2>
					<h3>Profiilinimi: <span th:text="${profileInfo.santaProfileName}"></span></h3>
					<h3>Lisätiedot: <p th:text="${profileInfo.info}"></p>
					</h3>
					<h3>Hinta: <span th:text="${profileInfo.price}"></span></h3>
					<h3>Käytettävissä: <span th:text="${profileInfo.Available}"></span></h3>
				</div>
				<div class="santa-profile-info">
					<form th:action="@{/update/santa-account}" method="post" enctype="multipart/form-data">
						<table>
							<thead>
								<tr>
									<th colspan="2">
										<h2 class="santa-profile-h2">Muokkaa tietojasi</h2>
									</th>
								</tr>
								<tr>
									<th colspan="2">
										<figure>
											<img th:src="@{/santa/image/{id}(id=${basicInfo.id})}" alt="" class="santaProfile-img">
										</figure>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><label for="profileImage">Lisää profiilikuva: </label></td>
									<td><input type="file" th:name="image"></td>
								</tr>
								<tr>
									<td><label for="profilename">Profiilinimi: </label></td>
									<td><input type="text" th:name="profilename"
											th:value="${profileInfo.santaProfileName}"></td>
								</tr>
								<tr>
									<td><label for="info">Lisätiedot: </label></td>
									<td>
										<textarea th:name="info" th:text="${profileInfo.info}"></textarea>
									</td>
								</tr>
								<tr>
									<td><label for="price">Hinta: </label></td>
									<td><input type="number" th:name="price" th:value="${profileInfo.price}" id="price"
											min="1" max="100">
									</td>
								</tr>
								<tr>
									<td><label for="available">Käytettävissä: </label></td>
								</tr>
								<tr>
									<td>
										<input type="radio" th:name="available" th:value="1" th:checked="${checkedYes}">Kyllä
									</td>
									<td>
										<input type="radio" th:name="available" th:value="0" th:checked="${checkedNo}">Ei
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td><input class="santa-button" type="submit" value="Tallenna"></td>
								</tr>
							</tfoot>
						</table>
					</form>
				</div>
			</article>
			<article id="tab-jobs-info" class="tabContent">
				<h1>Työtarjoukset</h1>
				<div></div>
				<div></div>
			</article>
		</section>
	</main>
	<footer th:replace="fragments/footer :: footer-fragment">
	</footer>
</body>

</html>